CombatStateViewer/Service References/CombatStateService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CombatStateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICombatStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CombatManager" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICombatStateService_GetCombatList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCombatList" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetCombatList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCombatListResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacters" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetCurrentCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCharacter" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetCurrentCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetCurrentCharacterID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCharacterID" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetCurrentCharacterID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCharacterIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetRound_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRound" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_GetRound_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoundResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_CurrentPlayerChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CurrentPlayerChanged" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_CurrentPlayerChanged_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CurrentPlayerChangedResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_CombatListChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CombatListChanged" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_CombatListChanged_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CombatListChangedResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_CharactersChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CharactersChanged" />
  </wsdl:message>
  <wsdl:message name="ICombatStateService_CharactersChanged_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CharactersChangedResponse" />
  </wsdl:message>
  <wsdl:portType name="ICombatStateService">
    <wsdl:operation name="GetCombatList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatStateService/GetCombatList" message="tns:ICombatStateService_GetCombatList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatStateService/GetCombatListResponse" message="tns:ICombatStateService_GetCombatList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacters">
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatStateService/GetCharacters" message="tns:ICombatStateService_GetCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatStateService/GetCharactersResponse" message="tns:ICombatStateService_GetCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatStateService/GetCurrentCharacter" message="tns:ICombatStateService_GetCurrentCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatStateService/GetCurrentCharacterResponse" message="tns:ICombatStateService_GetCurrentCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCharacterID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatStateService/GetCurrentCharacterID" message="tns:ICombatStateService_GetCurrentCharacterID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatStateService/GetCurrentCharacterIDResponse" message="tns:ICombatStateService_GetCurrentCharacterID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRound">
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatStateService/GetRound" message="tns:ICombatStateService_GetRound_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatStateService/GetRoundResponse" message="tns:ICombatStateService_GetRound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrentPlayerChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatStateService/CurrentPlayerChanged" message="tns:ICombatStateService_CurrentPlayerChanged_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatStateService/CurrentPlayerChangedResponse" message="tns:ICombatStateService_CurrentPlayerChanged_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CombatListChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatStateService/CombatListChanged" message="tns:ICombatStateService_CombatListChanged_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatStateService/CombatListChangedResponse" message="tns:ICombatStateService_CombatListChanged_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CharactersChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatStateService/CharactersChanged" message="tns:ICombatStateService_CharactersChanged_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatStateService/CharactersChangedResponse" message="tns:ICombatStateService_CharactersChanged_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICombatStateService" type="tns:ICombatStateService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICombatStateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetCombatList">
      <soap12:operation soapAction="http://tempuri.org/ICombatStateService/GetCombatList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacters">
      <soap12:operation soapAction="http://tempuri.org/ICombatStateService/GetCharacters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCharacter">
      <soap12:operation soapAction="http://tempuri.org/ICombatStateService/GetCurrentCharacter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCharacterID">
      <soap12:operation soapAction="http://tempuri.org/ICombatStateService/GetCurrentCharacterID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRound">
      <soap12:operation soapAction="http://tempuri.org/ICombatStateService/GetRound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentPlayerChanged">
      <soap12:operation soapAction="http://tempuri.org/ICombatStateService/CurrentPlayerChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CombatListChanged">
      <soap12:operation soapAction="http://tempuri.org/ICombatStateService/CombatListChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CharactersChanged">
      <soap12:operation soapAction="http://tempuri.org/ICombatStateService/CharactersChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CombatStateService">
    <wsdl:port name="NetTcpBinding_ICombatStateService" binding="tns:NetTcpBinding_ICombatStateService">
      <soap12:address location="net.tcp://localhost:8001/CombatStateService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/CombatStateService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>